<!DOCTYPE html>
<html>
  <head>
    <title>Wright</title>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '286373121539324',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript" src="http://api.yamli.com/js/yamli_api.js"></script>
 

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta property="og:title" content="Wright..type!"/>
    <meta property="og:image" content="http://thiyaku.files.wordpress.com/2011/06/creative_logo_04.jpg"/>
    <meta property="og:site_name" content="Wright"/>
    <meta property="og:description" content="Can you take the challenge and beat your friends?!"/>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <ul class="nav nav-pills">
          <li>
            <%= link_to t(:books), books_path %>
          </li>
        </ul>
      </div>
    </nav>
    <div id="main-container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </body>
</html>
